{% extends "MyWorkBundle::layout.html.twig" %}

{% block body %}
    
    {% block container %}
       <b> Panel Edytora <br /><br />
        1. wybierz pracę.<br />
        2. Wyświetl jej zawartość <br />
        3. Wypełnij notę edytorską dla pracy<br /></b>

        <table style="margin-top:30px; border: 2px;">
        <tr>
           <b>
            <td>Id Pracy</td>
            <td>Tytuł Pracy</td>
            <td>Link do pracy</td>
            <td>Dodatkowe opcje</td>
            </b>
        </tr>
            {%  for entitie in entities %}
            <tr>
                <td> {{ entitie.idwork }}</td>
                <td>{{ entitie.title }}</td>
                <td><a href="{{  asset('uploads/documents/') }}{{  entitie.path }} "target=_blank>Link do pracy</a></td>
                <td><a href="{{  path('url_panelreview') }}">Prace</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}

{% endblock %}
