<!DOCTYPE HTML>
<html>
    <meta charset="UTF-8">
    <title>{% block title %}Praca MGR{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/style.css')}}" media="screen"/>
    <link rel="stylesheet" href="{{asset('css/print.css')}}" media="print"/>
    <body>
        <div id="container">
            <div id="header">
                <div class="baner"><img src="{{asset('images/head.jpg')}}"></div>
                <div class="menu">

                    <ul>
                        <li><a href="{{ path('url_panel') }}">Panel</a></li>
                        <li><a href="{{ path('url_autor') }}">Autor</a></li>
                        <li><a href="{{ path('url_editor') }}">Edytor</a></li>
                        <li><a href="{{ path('url_rewiever') }}">Rewiever</a></li>
                        <li><a href="{{ path('url_users') }}">Użytkownicy</a></li>
                        <li><a href="{{ path('url_work') }}">Prace</a></li>

                        <li><a href="profile">Twój profilu</a></li>
                        <li><a href="profile/edit">Edycja profilu</a></li>
                        <li><a href="logout">Wyloguj</a></li>
                    </ul>
                </div>
            
                <div id="center">
                    {% block container %}

                    {% endblock %}
                </div>
                
        </div>
    </body>
</html>


