<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Praca MGR{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/style.css')}}" media="screen"/>
    <link rel="stylesheet" href="{{asset('css/print.css')}}" media="print"/>
    <base href="{{ app.request.getBaseURL() }}" />
</head>
    <body>
        <div id="container">
            <div id="header">
                <div class="baner"><img src="{{asset('images/head.jpg')}}"></div>
                <div class="menu">

                    <ul>
                        <li><a href="{{ path('url_panel') }}">Panel</a></li>
                        <li><a href="{{ path('url_autor') }}">Autor</a></li>
                        <li><a href="{{ path('url_editor') }}">Edytor</a></li>
                        <li><a href="{{ path('url_rewiever') }}">Recenzent</a></li>
                        <li><a href="{{ path('url_users') }}">Użytkownicy</a></li>
                        <li><a href="{{ path('url_work') }}">Prace</a></li>

                        <li><a href="{{ path('fos_user_profile_show') }}">Twój profilu</a></li>
                        <li><a href="{{ path('fos_user_profile_edit') }}">Edycja profilu</a></li>
                        <li><a href="logout">Wyloguj</a></li><br />
                        <li><a href="{{ path('url_conference') }}">Konferencje</a></li>
                    </ul>
                </div>
            
                <div id="center">
                    {% block container %}

                    {% endblock %}
                </div>
                <div id="footer">
                    <div class="menu1">
                        Główny Panel<br />
                        <a href="{{ path('url_panel') }}">Panel</a>
                    </div>
                    <div class="menu2">
                        <a href="{{ path('url_work') }}">Prace</a><br/>
                        <a href="{{ path('url_conference') }}">Konferencje</a><br />

                    </div>
                    <div class="menu3">
                        <a href="logout">Wyloguj</a><br />
                        Edytuj Profil<br>
                        Twój Profil<br>

                    </div>
                    <div class="opis">
                        Praca Magisterska Kochański Karol - IS WIMIIP AGH
                    </div>

                </div>
        </div>
    </body>
</html>


