<!DOCTYPE HTML>
<html>
    <meta charset="UTF-8">
 <title>{% block title %}Praca MGR{% endblock %}</title>
    <link rel="stylesheet" href="{{asset('css/style.css')}}" media="screen"/>
    <link rel="stylesheet" href="{{asset('css/print.css')}}" media="print"/>
    <body>
        <div id="">
            <div id="header">
                <div class="menu">
                    <ul>
                        <li><a href="{{ path('url_panel') }}">Panel</a></li>
                        <li><a href="{{ path('url_autor') }}">Autor</a></li>
                        <li><a href="{{ path('url_editor') }}">Edytor</a></li>
                        <li><a href="{{ path('url_rewiever') }}">Rewiever</a></li>
                        <li><a href="{{ path('url_users') }}">Użytkownicy</a></li>
                        <li><a href="{{ path('url_work') }}">Prace</a></li>
                    </ul>
                </div>
            </div>
            <h1>Użytkownicy</h1>
                <div id="center">
                {% block container %}
                    <table>
                        <thead>
                            <tr>
                               
                                <th>Login</th>
                                <th>Hasło</th>
                            </tr>
                         </thead>
                         <tbody>
                          {% for entity in entities %}
                            <tr>
                                
                                <th>{{ entity.userLogin }}</th>
                                <th>{{ entity.userPassword }}</th>
                            </tr>
                            {% endfor %}
                         </tbody>
                    </table>
                    {% endblock %}
                </div>
        </div>
    </body>
</html>